@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: lightblue;
  font-family: 'Krona One', sans-serif;
}

.hide {
  display: none;
}
